/* .admin-list-container table{
    border: 2px solid #AABED7;
    font-size: 15px;
}
.admin-list-container table td{
    text-align: center;
    padding: 5px;
    border-right: 2px solid #AABED7;
}
.admin-list-container table th{
    padding: 5px;
    text-align: center;
    border-right: 2px solid #AABED7;
}
.admin-list-container table tr{
    border-top: 2px solid #AABED7;
}
.admin-list-container table tr button{
    margin-left: 5px;
} */
